body{
    margin: 0;
    padding: 3px;
    background-color: #d9dba0;
}
header{
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid; 
}
#total-balance-div{
    text-align: left;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.form-div{
    border-radius: 12px;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}
.form-div button{
    border: none;
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    padding: 8px;
}
.form-div button:hover{
    background: darkcyan;
}
#filters{
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
#list-container{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
#summary-container{
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
footer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
#parent{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
#child-1{
    border: 1px solid black;
    border-radius: 24px;
    background-color: aqua;
    width: 190px;
    text-align: center;
}
#child-2{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 24px;
    width: 190px;
    text-align: center;
}
#child-3{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 24px;
    width: 190px;
    text-align: center;
}

/* Animations */
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    transform: translateZ(0);
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}