body{
    margin: 0;
    padding: 3px;
    background-color: rgb(161, 153, 153);
}
header{
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid; 
}
#header-h1{
    font-weight: 1100;
}
#total-balance-div{
    text-align: left;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #0f9d58;
    color: black;
}
#total-balance-div h1{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.form-div{
    border-radius: 12px;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    color: black;
}
.form-div button{
    border: none;
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    padding: 8px;
}
.form-div button:hover{
    background: darkcyan;
}
#filters{
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
#list-container{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
#summary-container{
   border: 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
footer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
#parent{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
#child-1{
    border: 1px solid black;
    border-radius: 24px;
    background-color: aqua;
    width: 190px;
    text-align: center;
}
#child-2{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 24px;
    width: 190px;
    text-align: center;
}
#child-3{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 24px;
    width: 190px;
    text-align: center;
}
#transactionList{
    padding: 30px;
}
.transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin: 6px 0;
    border-radius: 6px;
    border: 2px solid ;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: white;
}
.transaction.income{
    background-color: #0f9d58;
    border: #0f9d58;
}
.transaction.expense{
    background-color: #fe8175;
    border: #fe8175;
}
.delete-btn{
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.transactions{
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    background-color: rgb(50, 49, 42);
    color: white;
}
.transactions h2{
    border-bottom: 3px solid black ;
    padding-bottom: 10px;
}
.summary{
    border: 1px solid black;
    padding: 10px;
    border-radius: 16px;
    background-color: rgb(50, 49, 42);
    color: aliceblue;
}
.summary h2{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
#summary-div{
    padding-bottom: 20px;
}